<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{::title})">
    <title>Movie Form</title>
</head>
<div th:replace="fragments/general :: navbar('Add Movie')"></div>
<body>

<div class="container">
<form th:action="@{/movie/new}" method="post" th:object="${movie}">
    <input  type="number" hidden  th:field="*{movieId}" />
    <table class="table table-dark thead-light table-striped" >
        <tr>
            <td>Titel</td>
            <td><input type="text" th:field="*{title}" required/></td>
        </tr>
        <tr>
            <td>producer</td>
            <td>
                <select th:field="*{producers}" multiple>
                    <option th:each="producer : ${allProducers}" th:value="${producer.producerId}" th:text="${producer.displayName}"></option>
                </select>
            </td>

        </tr>
    </table>
    <input class="btn btn-danger" type="submit" value="Save Movie" />
    <input class="btn btn-danger" type="reset" value="reset" />

</form>
    </div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>