<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{::title})">
    <title>Producers</title>
</head>
<div th:replace="fragments/general :: navbar('Producers overview')"></div>

<body>

<div class="container">

<table class="table table-dark thead-light table-striped">
    <form th:action="@{/producer/new}" method="post" th:object="${newProducer}">
        <tr>
            <th>First name</th>
            <th>Last Name</th>
            <th>Save</th>

        </tr>
            <input  type="number" hidden  th:field="*{producerId}" />
            <td><input type="text" th:field="*{firstName}"></td>
            <td><input type="text" th:field="*{lastName}"></td>
            <td><input class="btn btn-danger" style="padding: 10px 20px" type="submit" value="save"></td>

    </form>
</table>
    <br>
<table id="movies" class="table table-dark thead-light table-striped">
    <tr>
    </tr>
    <tr th:each="producer : ${allProducers}">
        <td th:text="${producer.displayName}"></td>
        <td><a class="btn btn-danger" th:href="@{/producer/update/{producerId}(producerId=${producer.producerId})}"> edit </a></td>
        <td><!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete
            </button>
            <!-- Modal -->
            <div style="color: #282828" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" th:text="'Do you want to delete '+ ${producer.displayName} +'?'">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a class="btn btn-danger" th:href="@{/producer/delete/{producerId}(producerId=${producer.producerId})}"> delete </a>

                        </div>
                    </div>
                </div>
            </div>
        </td>

    </tr>

</table>
</div>
<div th:replace="fragments/general :: footer">
</div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>